PORT = 5000
MONGO_URI=mongodb+srv://database_here:password_here@cluster_here/?retryWrites=true
MONGO_DATABASE=database_name
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174
PREVIEW_URL=http://localhost:4173
JWT_SECRET_KEY=9876LDKJFLKDJLKJF9i345
JWT_COOKIE_EXPIRES=7d
COOKIE_EXPIRES=7
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=tytytyt3534sdfsdfds
CLOUDINARY_APP_KEY=yyyyyyyy
SOCKET_URI=ws://127.0.0.1:8080
