PORT = 4000
MONGO_URI=mongodb+srv://mongo:<password here>@<cluster_url>/?retryWrites=true
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174
JWT_SECRET_KEY=9876LDKJFLKDJLKJF9i345
JWT_EXPIRES=7d
COOKIE_EXPIRES=7
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=tytytyt3534sdfsdfds
CLOUDINARY_APP_KEY=yyyyyyyy